# Library itself
requests
six
user-agents<1.2.0

# Docs
sphinx<2.0
sphinx-rtd-theme

# Testing
tox<4.0
prospector<1.2
pylint<2.2; python_version > '3'
pre-commit==1.12.0

# Code style
black==18.9b0; python_version >= '3.6'
reorder-python-imports==1.3.2

# Releasing
twine<2.0
